{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nueva Encuesta{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Crear Nueva Encuesta</h1>

{% if g.user.id == 1 %}  {# Verifica que sea el administrador #}

<form method="post">
    <label for="title">Título:</label>
    <input type="text" name="title" required>

    <label for="body">Descripción:</label>
    <textarea name="body"></textarea>

    <label for="optionOne">Primera Opción:</label>
    <input type="text" name="optionOne" required>

    <label for="optionTwo">Segunda Opción:</label>
    <input type="text" name="optionTwo" required>

    <button type="submit">Crear Encuesta</button>
</form>

{% else %}
    <p>No tienes permiso para crear encuestas.</p>
{% endif %}

{% endblock %}
