{% extends 'base.html' %}

{% block content %}
<h1>Create new survey</h1>

{% if g.user.id == 1 %}  {# Verifica que sea el administrador #}

<form method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" required>

    <label for="body">Description:</label>
    <textarea name="body"></textarea>

    <label for="optionOne">First option:</label>
    <input type="text" name="optionOne" required>

    <label for="optionTwo">Second option:</label>
    <input type="text" name="optionTwo" required>

    <button type="submit">Create survey</button>
</form>

{% else %}
    <p>You don't have permissions to create surveys.</p>
{% endif %}

{% endblock %}
