{% extends 'base.html' %}

{% block header %}
  <h1>{{ survey.title }}</h1>
{% endblock %}

{% block content %}
  <p>{{ survey.body }}</p>
  
  {% if already_voted %}
    <p>Ya has votado en esta encuesta. Gracias por tu participación.</p>
  {% else %}
      <form method="post" action="{{ url_for('survey.vote', id=survey.id) }}">
          <button type="submit" name="option" value="first">
            {{ survey.optionOne }} ({{ survey.first }} votos)
          </button>
          <button type="submit" name="option" value="second">
            {{ survey.optionTwo }} ({{ survey.second }} votos)
          </button>
      </form>
  {% endif %}
  
  {% if g.user['id'] == 1 %}
  <form method="post" action="{{ url_for('survey.delete_survey', id=survey.id) }}" style="margin-top: 20px;">
      <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta encuesta?');">
          Eliminar Encuesta
      </button>
  </form>
  {% endif %}

  <a href="{{ url_for('survey.survey') }}">Volver a la lista de encuestas</a>
{% endblock %}
