{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Surveys{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for survey in surveys %}
    <article class="post">
      <header>
        <div>
          <h1>
            <li><a href="{{ url_for('survey.show_survey', id=survey['id']) }}">{{ survey['title'] }}</a></li>
          </h1>
          <div class="about">by {{ survey['username'] }} on {{ survey['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">{{ survey['body'] }}</p>

      {% if g.user['id'] == 1 %}
        <!-- Show delete button only if the user is an admin -->
        <form action="{{ url_for('survey.delete_survey', id=survey['id']) }}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      {% endif %}
      
    </article>

    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
